<div class="jumbotron">
    <div class="container">
        <h1>Welcome to {{name}}!</h1>
        <p>{{name}} is a totally original, never-before-seen idea that we didn't copy from anyone. This primary purpose of this application is to showcase a few Hapi features.</p>
        <ul>
            <li>Views and templates</li>
            <li>Static files</li>
            <li>Routing</li>
            <li>Pipes and Streams!!</li>
            <li>User authentication</li>
            <li>Plugins</li>
        </ul>
    </div>
</div>