<!-- Example row of columns -->

<div class="col-md-12">
    <h2>Take Photo</h2>
    <p>Take a photo using your web cam, right now! </p>

    <!-- On iOS 6 we can use the file select input with the following attributes to capture an image from the camera -->
    <input id="fileselect" type="file" accept="image/*" capture="camera">

    <!-- For devices that support getUserMedia and have a webcam we can display the feed in a video element -->
    <div id="container">
        <video autoplay id="videoElement"></video>
    </div>

    <-- Selected image will be draw to a canvas -->
    <canvas id="canvas" width="500" height="375"></canvas>

    <button class="btn btn-default" id="freeze">Freeze</button>
    <button class="btn btn-success" id="save">Save</button>

    <-- Or alternatively added to an img tag -->
    <img id="imgtag" src="" width="500" height="375" alt="capture" />
</div>


<!--<form>-->
    <!--<div class="modal fade" id="photoModal">-->
      <!--<div class="modal-dialog">-->
        <!--<div class="modal-content">-->
          <!--<div class="modal-header">-->
            <!--<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>-->
            <!--<h4 class="modal-title">Photo Taker</h4>-->
          <!--</div>-->
          <!--<div class="modal-body">-->
            <!--<p>Say cheese&hellip;</p>-->
              <!--<video autoplay id="cameraVideo" height="200" width="200"></video>-->
              <!--<br />-->
              <!--<canvas id="cameraCanvas" height="200" width="200"></canvas>-->
              <!--<br />-->
              <!--<img id="cameraImg" height="200" width="200" />-->
              <!--<br />-->
              <!--<button id="takePhotoBtn" type="button" class="btn btn-primary"></button>-->
          <!--</div>-->
          <!--<div class="modal-footer">-->
            <!--<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>-->
            <!--<button id="uploadBtn" type="button" class="btn btn-primary">Upload</button>-->
          <!--</div>-->
        <!--</div>&lt;!&ndash; /.modal-content &ndash;&gt;-->
      <!--</div>&lt;!&ndash; /.modal-dialog &ndash;&gt;-->
    <!--</div>&lt;!&ndash; /.modal &ndash;&gt;-->
<!--</form>-->
