<h2>Take Photo</h2>
<p>Take a photo using your web cam, right now! </p>
<div class="button-bar">
    <button class="btn btn-default" id="freeze">
        <i class="fa fa-camera-retro"> Preview</i>
    </button>
    <button class="btn btn-success" id="save">
        <i class="fa fa-upload"> Save</i>
    </button>
</div>

<div class="alert alert-success message-hide" role="alert">
    <i class="fa fa-check"></i>
</div>

<div class="alert alert-danger message-hide" role="alert">
    <i class="fa fa-exclamation-triangle"></i>
</div>

<div class="row">
    <div class="col-md-6 col-xs-12">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Say Cheese!</h3>
            </div>
            <div class="panel-body">
                <video autoplay id="videoElement"></video>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-xs-12">
        <div class="panel panel-info">
            <div class="panel-heading">
                <h3 class="panel-title">Preview</h3>
            </div>
            <div class="panel-body">
                <img id="preview" />
            </div>
        </div>
    </div>
</div>
<div class="clearfix well">
    <p>If you're having troble, try the tried-and-true file upload option.</p>
    <input id="fileselect" type="file" accept="image/*" capture="camera">
</div>
