#videoElement {
    margin: 0 auto;
    display: block;
    width: 100%;
}

#preview, .hapchat-photo {
    width: 100%;
    margin: 0 auto;
}

.button-bar, .photo-container {
    margin: 10px 0;
}

footer p {
    text-align: center;
}

.message-hide {
    display: none;
}